.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 350px;
  
  &__link {
    font-size: 1.5rem;
    color: black;
    opacity: .6;
    
    transition: opacity .2s;
    
    &:hover,
    &_active {
      opacity: 1;
    }
  }
}